{% extends "template/base.html" %}

{% block title %}
	{{ story.name }}
{% endblock %}

{% block title_section %}
	<span>A story by <a href="/user/{{ story.client.id }}">{{ story.client }}</a></span>
{% endblock %}

{% block container %}
	<h2>Places on this story</h2>
	{% for event in story.event_set.all %}
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-1 text-center">
								<div class="text-primary">
									<span class="lead">{{ event.start.day }}</span>
									<p class="small">{{ event.start | date:"b" }}</p>
								</div>
							</div>
							<div class="col-md-4 text-center">
								<span class="lead">{{ event.place.name }}</span>
								<p class="small">
									<a href="/story/search?q={{ event.place.location }}">{{ event.place.location }}</a>
								</p>
							</div>
							<div class="col-md-1 text-center">
								<div class="text-primary">
									<span class="lead">{{ event.end.day }}</span>
									<p class="small">{{ event.end | date:"b" }}</p>
								</div>
							</div>
							<div class="col-md-4">
								{% for option_place in event.place.optionplace_set.all %}
									<code>{{ option_place.option.name }}</code>
								{% endfor %}
							</div>
							<div class="col-md-2 text-center">
								<span class="small">{{ event.place.currency }}</span>
								<span class="lead">{{ event.place.price }}</span>
								<button class="btn btn-success dn-book" role="button"
									data-place-id="{{ event.place.id }}"
									data-place-name="{{ event.place.name }}"
									data-place-price="{{ event.place.price }}"
									data-place-currency="{{ event.place.currency }}">
									{% if user and user.id = story.client.user.id %}
										Book again this place
									{% else %}
										Book this place
									{% endif %}
								</button>
							</div>
						</div>
						<hr/>
						<div class="row">
							<div class="col-md-12">
								{% if event.cards %}
									{% for card in event.cards %}
										<div class="pull-left col-md-3">
											<div class="panel panel-default">
												<div class="panel-body">
													{{ card.content | safe }}
													<br>
													<span class="small">{{ card.created }}</span>
												</div>
												<div class="panel-footer text-center">{{ card.name }}</div>
											</div>
										</div>
									{% endfor %}
								{% endif %}
							</div>
						</div>
						{% if user and user.id = story.client.user.id %}
							<div class="row">
								<div class="col-md-12">
									<div class="text-center">
										<a href="/card/add/event/{{ event.id }}" role="button">
		                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
		                                    Add new card
		                                </a>
									</div>
								</div>
							</div>
						{% endif %}
					</div><!--/.panel-body -->
				</div><!--/.panel -->
			</div><!--/.col-md-12 -->
		</div><!--/.row -->
	{% endfor %}
	<blockquote class="blockquote-reverse">
		<p>
			<b>{{ story.name }} : </b>
			<i>{{ story.sumary }}</i>
		</p>
		<footer>By <a href="/user/{{ story.client.id }}">{{ story.client }}</a></footer>
	</blockquote>

	<div class="modal fade" id="dn-add-place-modal" tabindex="-1" role="dialog" aria-labelledby="dn-add-place-modal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title">Book a place</h4>
				</div>
				<div class="modal-body">
					<div class="dn-form-container">
						<form action="{% url 'story:ajax_add_place' %}" method="post" class="form-horizontal dn-form-add-place">
							{% csrf_token %}
							<div class="form-group">
							    <label for="place" class="col-sm-4 control-label">Place</label>
							    <div class="col-sm-8">
									<input type="text" class="form-control dn-place-name" name="place_name" value="" disabled>
									<input type="hidden" class="dn-place-id" name="place" value="">
							    </div>
							</div>
							<div class="form-group">
							    <label for="start" class="col-sm-4 control-label">Start</label>
							    <div class="col-sm-8">
									<input type="text" class="form-control dn-event-start" name="start" value="">
								</div>
							</div>
							<div class="form-group">
							    <label for="days" class="col-sm-4 control-label">Days</label>
							    <div class="col-sm-8">
									<input type="text" class="form-control dn-event-days integer" name="days" value="">
								</div>
							</div>
							<div class="form-group">
							    <label for="event_price" class="col-sm-4 control-label">Price</label>
							    <div class="col-sm-8">
									<input type="text" class="form-control dn-event-price" name="event_price" value="" disabled>
									<input type="hidden" class="dn-base-price" name="base_price">
							    </div>
							</div>
						</form>
					</div>
					<div class="alert alert-success dn-success hide" role="alert">
						The place was added to your shopping cart!
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-success dn-form-submit">Add place</button>
				</div>
			</div>
		</div>
	</div>
	<link rel="stylesheet" href="/static/css/jquery-ui.css">
	<script src="/static/js/vendor/jquery-ui.js"></script>
	<script src="/static/js/core.story.view.js"></script>
{% endblock %}