{% extends "template/base.html" %}

{% block title %}
	Dashboard
{% endblock %}

{% block container %}
<h2>
	My stories
</h2>
{% for story in stories %}
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-1 text-center">
							<div class="text-primary">
								<span class="lead">{{ story.start.day }}</span>
								<p class="small">{{ story.start | date:"b" }}</p>
							</div>
						</div>
						<div class="col-md-4 text-center">
							<span class="lead">{{ story.name }}</span>
							<p class="small">
								A story by <a href="/user/{{ story.client.id }}">{{ story.client }}</a>
							</p>
						</div>
						<div class="col-md-1 text-center">
							<div class="text-primary">
								<span class="lead">{{ story.end.day }}</span>
								<p class="small">{{ story.end | date:"b" }}</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="panel panel-default">
								<div class="panel-body">
									<strong>Places: </strong>
									{% for event in story.event_set.all %}
										<a href="/story/search/?q={{ event.place.name }}">{{ event.place.name }}</a>
										(<i><a href="/story/search/?q={{ event.place.location }}">{{ event.place.location }}</a></i>)
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="col-md-2 text-center">
							<a class="btn btn-success" href="/story/{{ story.id }}" role="button">View more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
{% endblock %}